*{
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: rgb(248, 245, 245);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(173, 173, 173);
}
.myntra-home{
height: 50px;
width: 110px;
}
.logo-container{
margin: 1%;
}
.action-bar{
    margin-right: 4%;
}
.navigation-container{
   display: flex;
   min-width: 500px;
   justify-content: space-evenly;
}
.navigation-container a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: .3px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding:30px 0px ;

    
}
.navigation-container a sup{
    font-size: 8px;
    color: rgb(255, 35, 108);

}

.navigation-container a:hover{
    font-size: 10px;
    color: rgb(255, 35, 108);
border-bottom: 4px rgb(255, 35, 108);}

.search-input{
    background-color: #edeaea;
    color: rgb(102, 101, 101);
flex-grow: 1;
height: 40px; 
border: 0;
border-radius: 0px 4px 4px 0px;
}
.search-bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
   
    
}
.search-icon{
box-sizing: content-box;
padding: 10px;
height: 20px;
   background-color: #edeaea;
color: rgb(51, 50, 50);
border-radius: 4px 0px 0px 4px;
}
.action-name{
    
}
.action-bar{
    display: flex;
    justify-content: space-between;
    min-width: 200px;
}
.action-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

/* MAIN SECTION*/

.banner-img
{
width: 100%;
height: 600px;

}

.banner-container{
margin:20px 0px;
}

.category-heading{
    text-transform: uppercase;
    color: black;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0px 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
/* to make them according to diff screen*/
.category-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sale-item{
    width:250px;
    height: 200px;
}
/* FOOTER SECTION*/
.footer-container{
padding: 30px 0px 40px 60px ;
background-color: #FAFBFC;
display: flex;  

justify-content: space-evenly;
}
.footer-colum{
    display: flex;
  flex-direction: column;
}
.footer-colum a{
    color: #696b79;
    
    font-size: 15px;
    text-decoration: none ;
    padding-bottom: 5px;
}
.footer-colum h3{
    color: #202025;
    font-size: 14px;
    margin-bottom: 25px;
}
.copy-right{
color: #696b79;
text-align: end;
padding: 15px;
}